<!DOCTYPE html>
<html>
  <header>
    <body>
      <p><strong>Title</strong></p>
      <p><%=@book.title %></p>
      
      <p><strong>Body</strong></p>
      <p><%=@book.body %></p>
      <p><%=link_to"Edit",edit_book_path(@book.id) %></p>
      <p><%=link_to"Back",'/books' %></p>
    </body>
  </header>
  
</html>