<!DOCTYPE html>
<html>
  <header>
    <body>
      <h1>ようこそ、Bookersへ！</h1>
      <p><strong>Bookers</strong>では、さまざまな書籍に関するあなたの意見や</br>
      印象を共有し交換することができます</p>
      
      <a href='/books'>start</a>
      
    </body>
  </header>
  
</html>
