<!DOCTYPE html>
<html>
  <header>
    <body>
      <h1>ようこそ Bookers へ！</h1>
      <p><strong>Bookers</strong> では、さまざまな書籍に関するあなたの意見や</P>
      <p>印象を共有し交換することができます</p>
      
      <p><a href='/books'>start</a></p>
      
    </body>
  </header>
  
</html>
